/*---------------------------------------------------- NAVBAR CUSTOM ----------------------------------------------------------------*/
/*======================= CUSTOM BACKGROUND COLOR ==========================*/


.bg-custom-white{
    background-color:#fff !important;
    color: #1a1919 !important;
}
.bg-custom-white-dark{
  background-color: #fafafa;
  color: #0a0a0a;
}

.bg-custom-green{
    background-color:#119959 !important;
    color: #fff !important;
}
.bg-custom-green-y{
    background-color:#7cee9e !important;
    color: #fff !important;
}

.bg-custom-blue{
    background-color:#7660ee !important;
    color: #fff !important;
}

.bg-custom-blue-y{
    background-color:hsl(194, 89%, 72%) !important;
    color: #fff !important;
}

.bg-custom-grey{
    background-color:#aab1b4 !important;
    color: rgb(250, 249, 249) !important;
}
.bg-custom-grey-y{
    background-color:#f7f7fc !important;
    color: #686565 !important;
}

.bg-custom-red{
    background-color:#db1919 !important;
    color: #fff !important;
}

.bg-custom-yellow{
    background-color:#f5f115 !important;
    color: #fff !important;
}

.bg-custom-purple{
    background-color:#b42273 !important;
    color: #fff !important;
}

.bg-custom-orange{
    background-color:#f86808 !important;
    color: #fff !important;
}

.bg-custom-brown{
    background-color:#68310c !important;
    color: #fff !important;
}
.bg-custom-black{
    background-color:#0c0c0c !important;
    color: #fff !important;
}

.bg-custom-black{
    background-color:#0c0c0c !important;
    color: #fff !important;
}





/*======================= END CUSTOM BACKGROUND COLOR ==========================*/
/*=======================  CUSTOM  FONT COLOR  ==========================*/
.custom-color-black{
  color: #0c0c0c;
}

.custom-color-red{
  color: #b31414;
}

.custom-color-white{
  color: #fff;
}
.custom-color-yellow{
  color: #e4e00f;
}
.custom-color-blue{
  color: #3012b4;
}
.custom-color-purple{
  color: #8923a8;
}
.custom-color-green{
  color: #195a0c;
}
.custom-color-orange{
  color: #b9690e;
}
.custom-color-grey{
  color: #808688;
}
/*=======================  EMD CUSTOM  FONT COLOR  ==========================*/


/*=======================  CUSTOM  FONT SIZE  ==============================*/



/*=======================  END CUSTOM  FONT SIZE  ==========================*/

.custom-fs-12{
  font-size: 12px !important;
}

.custom-fs-13{
  font-size: 13px !important;
}

.custom-fs-14{
  font-size: 14px !important;
}

.custom-fs-15{
  font-size: 15px !important;
}

.custom-fs-16{
  font-size: 16px !important;
}
.custom-fs-18{
  font-size: 18px !important;
}

.custom-fs-20{
  font-size: 20px !important;
}

.custom-fs-22{
  font-size: 22px !important;
}

.custom-fs-24{
  font-size: 24px !important;
}

.custom-fs-26{
  font-size: 26px !important;
}

.custom-fs-28{
  font-size: 28px !important;
}

.custom-fs-30{
  font-size: 30px !important;
}

/*=======================  CUSTOM  FONT SIZE ==========================*/

/*=======================  CUSTOM  FONT COLOR ==========================*/

.custom-fc-red{
  color: #a00505;
}
.custom-fc-red-y{
  color: #ff7675;
}

.custom-fc-black{
  color: #1a1919;
}

.custom-fc-black-y{
  color: #464545;
}

.custom-fc-grey{
  color: rgba(0,0,0,.5);
}
.custom-fc-grey-y{
  color: #b4b3b3f8;
}
.custom-fc-brown{
  color: #a88f5f;
}

.custom-fc-orange-y{
  color: #f86808;
}
.custom-fc-green{
  color:#119959 !important;
}

.custom-fc-green-y{
  color:#6cc46c !important;
}
.custom-fc-blue{
  color:#432dbd !important;
}

.custom-fc-blue-y{
  color:#81ecec !important;
}




/*=======================  END CUSTOM  FONT COLOR ==========================*/
/*=======================  CUSTOM  FONT TEXT & ARRAGE ==========================*/

/*----------- CUSTOM FONT FAMILY---------------*/
.custom-font{
 /*font-family: Apercu,Gill Sans MT,Gill Sans,Arial,sans-serif;*/
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.custom-ff-nunito{
  font-family: Nunito;
}

.custom-ff-sfmono{
  font-family: SFMono-Regular;
}

.custom-ff-menlo{
  font-family: Menlo;
}

.custom-ff-consolas{
  font-family: Consolas;
}

.custom-ff-monospace{
  font-family: monospace;
}

.custom-ff-ss{
  font-family: sans-serif;
}

.custom-ff-bms{
  font-family: BlinkMacSystemFont;
}

/*-----------END CUSTOM FONT FAMILY---------------*/


.custom-left{
  text-align: left;
}
.custom-center{
  text-align: center;
}
.custom-right{
  text-align: right;
}



.custom-mlr-5{
  margin-left:5px;
  margin-right:5px;
}

.custom-mlr-10{
  margin-left:10px;
  margin-right:10px;
}

.custom-mlr-15{
  margin-left:15px;
  margin-right:15px;
}

.custom-mlr-20{
  margin-left:20px;
  margin-right:20px;
}

.custom-mlr-25{
  margin-left:25px;
  margin-right:25px;
}

.custom-mlr-30{
  margin-left:30px;
  margin-right:30px;
}

.custom-mlr-35{
  margin-left: 35px;
  margin-right: 35px;
}

.custom-mlr-100{
  margin-left: 100px;
  margin-right: 100px;
}
.custom-mlr-125{
  margin-left:125px;
  margin-left:125px;
}



.custom-mt-5{
  margin-top: 5px;
}
.custom-mb-10{
  margin-bottom: 10px;
}

.custom-mb-15{
  margin-bottom:15px;
}
.custom-mb-20{
  margin-bottom: 20px;
}

.custom-mb-25{
  margin-bottom: 25px;
}

.custom-mb-30{
  margin-bottom: 30px;
}

.custom-mb-35{
  margin-bottom: 35px;
}

.custom-mb-40{
  margin-bottom: 40px;
}

.custom-mb-45{
  margin-bottom: 45px;
}

.custom-mb-50{
  margin-bottom:50px;
}

.custom-mb-55{
  margin-bottom: 55px;
}

.custom-mb-60{
  margin-bottom: 60px;
}
.custom-mb-65{
  margin-bottom: 65px;
}

.custom-mb-100{
  margin-bottom:100px;
}





.custom-mt-5{
  margin-top:5px;
}

.custom-mt-10{
  margin-top:10px;
}

.custom-mt-15{
  margin-top:15px;
}

.custom-mt-20{
  margin-top:20px;
}

.custom-mt-25{
  margin-top:25px;
}

.custom-mt-30{
  margin-top:30px;
}

.custom-mt-35{
  margin-top: 35px;
}

.custom-mt-100{
  margin-top: 100px;
}

.custom-mt-120{
  margin-top: 120px;
}

.custom-mt-125{
  margin-top:125px;
}

.custom-mt-130{
  margin-top:130px;
}
.custom-mt-135{
  margin-top:135px;
}
.custom-mt-140{
  margin-top:140px;
}
.custom-mt-145{
  margin-top:145px;
}

.custom-mt-150{
  margin-top: 150px;
}

.custom-mt-200{
  margin-top: 200px;
}

.custom-margin-tb{
  margin-top: 30px;
  margin-bottom: 30px;
}
.custom-mtb-1{
  margin-top: 1px;
  margin-bottom: 1px;
}
.custom-padding-reset{
  padding: 0!important;
}


.custom-padding-1{
  padding:1px !important;
}
.custom-padding-5{
  padding:5px !important;
}

.custom-padding-10{
  padding:10px !important;
}

.custom-padding-15{
  padding:15px !important;
}

.custom-padding-20{
  padding: 20px !important;
}
.custom-padding-30{
  padding: 20px !important;
}
.custom-padding-40{
  padding: 20px !important;
}

.custom-padding-50{
  padding: 50px !important;
}

.custom-pl-5{
  padding-left:5px !important;
}
.custom-pl-10{
  padding-left:10px !important;
}
.custom-pl-15{
  padding-left:15px !important;
}
.custom-pl-20{
  padding-left:20px !important;
}
.custom-pl-25{
  padding-left:25px !important;
}
.custom-pl-30{
  padding-left:30px !important;
}
.custom-pl-35{
  padding-left:35px !important;
}
.custom-pl-40{
  padding-left:40px !important;
}
.custom-pl-45{
  padding-left:45px !important;
}
.custom-pl-50{
  padding-left:50px !important;
}


.custom-pr-5{
  padding-right:5px !important;
}
.custom-pr-10{
  padding-right:10px !important;
}
.custom-pr-15{
  padding-right:15px !important;
}
.custom-pr-20{
  padding-right:20px !important;
}
.custom-pr-25{
  padding-right:25px !important;
}
.custom-pr-30{
  padding-right:30px !important;
}
.custom-pr-35{
  padding-right:35px !important;
}
.custom-pr-40{
  padding-right:40px !important;
}
.custom-pr-45{
  padding-right:45px !important;
}
.custom-pr-50{
  padding-right:50px !important;
}


.custom-plr-5{
  padding-left:5px !important;
  padding-right:5px !important;
}
.custom-plr-10{
  padding-left:10px !important;
  padding-right:10px !important;
}
.custom-plr-15{
  padding-left:15px !important;
  padding-right:15px !important;
}
.custom-plr-20{
  padding-left:20px !important;
  padding-right:20px !important;
}
.custom-plr-25{
  padding-left:25px !important;
  padding-right:25px !important;
}
.custom-plr-30{
  padding-left:30px !important;
  padding-right:30px !important;
}
.custom-plr-35{
  padding-left:35px !important;
  padding-right:35px !important;
}
.custom-plr-40{
  padding-left:40px !important;
  padding-right:40px !important;
}
.custom-plr-45{
  padding-left:45px !important;
  padding-right:45px !important;
}
.custom-plr-50{
  padding-left:50px !important;
  padding-right:50px !important;
}



.custom-ptb-5{
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.custom-ptb-10{
 padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.custom-ptb-15{
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}
.custom-ptb-20{
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}
.custom-ptb-25{
  padding-top: 25px!important;
  padding-bottom: 25px!important;
}
.custom-ptb-30{
  padding-top: 30px!important;
  padding-bottom: 30px!important;
}
.custom-ptb-35{
  padding-top: 35px!important;
  padding-bottom: 35px!important;
}
.custom-ptb-40{
  padding-top: 40px!important;
  padding-bottom: 40px!important;
}
.custom-ptb-45{
  padding-top: 45px!important;
  padding-bottom: 45px!important;
}
.custom-ptb-50{
  padding-top: 50px!important;
  padding-bottom: 50px!important;
}

.custom-box-shadow{
   box-shadow: 0px 5px 15px #9a9c9b;
}

.custom-tittle{
  font-weight: bold;
}
.custom-fb{
   font-weight: bold;
}
.custom-overflow{
    overflow: auto;
    width: 100%;
}
.custom-border-1{
 border: 1px solid #e8ebeb;
}
.custom-border-2{
 border: 2px solid #e8ebeb;
}
.custom-border-3{
 border: 3px solid #e8ebeb;
}

.custom-float-right{
  float: right;
  right: 0;
}

.custom-float-left{
  float: left;
  left: 0;
}

.custom-widht{
  width: 100%;
}
.custom-w100{
  width: 100px;
}
.custom-bs{
  box-sizing: border-box;
  border-bottom: 6px solid rgb(243, 244, 245);
}


/*======================= END CUSTOM  FONT TEXT ==========================*/


/*Custom Size Navbar*/
/**/

/* .navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
} */

/*.navbar-toggle { 
  /* (80px - button height 34px) / 2 = 23px */
  /* margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a { */
    /* (80px - line-height of 27px) / 2 = 26.5px */
    /* padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
} */
/*warna*/
.navbar-light .navbar-brand {
    color: 
    rgba(99, 95, 95, 0.9);
}
/*End Custom Size Navbar*/


/*ukuran font logo*/
.navbar-custom .navbar-brand {
  font-size: 18px;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: fantasy;
}


/*warna font logo*/
.navbar-custom .navbar-brand {
  color: #fff!important;
}

/*hover logo*/
.navbar-custom .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(102, 107, 104, 0.9)!important;
}

/*warna font di navbar*/
.navbar-custom .navbar-nav .nav-link {
    color: #fff!important;
}
/*ukuran font di navbar*/
.navbar-custom .navbar-nav .nav-link {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*hover font navbar*/
.navbar-custom .navbar-nav:hover .nav-link:hover {
    color: rgba(102, 107, 104, 0.9)!important;
}


/*logo toggle*/
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(253, 254, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*warna toggle*/
.navbar-custom .navbar-toggler {
  border-color: rgba(253, 254, 255, 0.993);
} 

/*change hover dropdown navbar*/
.dropdown-menu > a:hover {
    background-color: #a9b1ab;
    color: #fff;
    /*background-image: none;*/
}
/*custom paginate*/
.page-item.active .page-link{
  z-index: 3;
    color: #fff;
    background-color: #7cee9e;
    border-color: #7cee9e;
}
.page-link {
  color: #0c0c0c;
}
.custom-ft-50{
  position: fixed;
  top: 10%;
  height: 50%
}



/*---------------------------------------------------- END NAVBAR CUSTOM ----------------------------------------------------------------*/



/*---------------------------------------------------- BUTTON CUSTOM COLOR ---------------------------------------------------------*/

/*=========================== CUSTOM BUTTON WHITE  ===================================*/

.btn-custom-white {
  color: #0a0a0a!important;
  background-color: #fafafa!important;
  border-color:#c0bdbd!important;
}

/*button hover (saat di sorot cursor)*/
.btn-custom-white:hover {
  color: #c0bdbd!important;
  background-color: #fafafa!important;
  border-color:#c0bdbd!important;
}

/*button after click/focus*/
.btn-custom-white:focus, .btn-custom-white.focus {
   color: #c0bdbd!important;
  background-color: #fafafa!important;
  border-color:#c0bdbd!important;
  box-shadow: 0 0 0 0.2rem #e7e6e6!important;
}

/*  button disable*/
  .btn-custom-white.disabled, .btn-custom-white:disabled {
  color: #c0bdbd!important;
  background-color: #f0f7f7!important;
  border-color: #c0bdbd!important;
}

/*=========================== END CUSTOM BUTTON WHITE  ===================================*/

/*=========================== CUSTOM BUTTON PURPLE  ===================================*/

.btn-custom-purple {
  color: #fafafa!important;
  background-color: #b42273!important;
  border-color:#b42273!important;
}

/*button hover (saat di sorot cursor)*/
.btn-custom-purple:hover {
  color: #f8f9fa!important;
  background-color: #a5226a!important;
  border-color:#b42273!important;
}

/*button after click/focus*/
.btn-custom-purple:focus, .btn-custom-purple.focus {
   color: #f8f9fa!important;
  background-color: #a5226a!important;
  border-color:#b42273!important;
  box-shadow: 0 0 0 0.2rem #fda7d6!important;
}

/*  button disable*/
  .btn-custom-purple.disabled, .btn-custom-purple:disabled {
  color: rgb(122, 124, 126)!important;
  background-color: #f0f7f7!important;
  border-color: #626666!important;
}

/*=========================== END CUSTOM BUTTON PURPLE  ===================================*/

/*=========================== CUSTOM BUTTON YELLOW  ===================================*/

.btn-custom-yellow {
  color: #0c0c0c!important;
  background-color: #f5f115!important;
  border-color:#ebe71a!important;
}

/*button hover (saat di sorot cursor)*/
.btn-custom-yellow:hover {
  color: #0c0c0c!important;
  background-color: #c5c213!important;
  border-color:#cac71b!important;
}
/*button after click/focus*/
.btn-custom-yellow:focus, .btn-custom-yellow.focus {
  color: #0c0c0c!important;
  background-color: #c5c213!important;
  border-color:#cac71b!important;
  box-shadow: 0 0 0 0.2rem #f5f3a4!important;
}
/*  button disable*/
  .btn-custom-yellow.disabled, .btn-custom-yellow:disabled {
  color: rgb(122, 124, 126)!important;
  background-color: #f0f7f7!important;
  border-color: #626666!important;
}

/*---------------------------------------------------- BUTTON END YELLOW -------------------------------------------------------*/



/*---------------------------------------------------- BUTTON RED CUSTOM ----------------------------------------------------------------*/

/*=========================== CUSTOM BUTTON RED YOUNG ===================================*/

.btn-custom-red {
  color: #fafafa!important;
  background-color: #db1919ef!important;
  border-color:#db1919ef!important;
}

/*button hover (saat di sorot cursor)*/
.btn-custom-red:hover {
  color: #f8f9fa!important;
  background-color: #a00505!important;
  border-color:#a00505!important;
}

/*button after click/focus*/
.btn-custom-red:focus, .btn-custom-red.focus {
  color: #f8f9fa!important;
  background-color: #a00505!important;
  border-color: #a00505!important;
  box-shadow: 0 0 0 0.2rem #e6bdbd!important;
}

/*  button disable*/
  .btn-custom-red.disabled, .btn-custom-red:disabled {
  color: rgb(122, 124, 126)!important;
  background-color: #f0f7f7!important;
  border-color: #626666!important;
}


/*------------------------------ --------------------------END RED BUTTON------------------------------------------------------------------*/


/*---------------------------------------------------- BUTTON GREY YOUNG CUSTOM ----------------------------------------------------------------*/

/*=========================== CUSTOM BUTTON GREY YOUNG ===================================*/

.btn-custom-grey-y {
  color: #464343!important;
  background-color: #dfe6e9!important;
  border-color:#b0b4b4!important;
}

/*button hover (saat di sorot cursor)*/
.btn-custom-grey-y:hover {
  color: #f8f9fa!important;
  background-color: #aab1b4!important;
  border-color: #888b8b!important;
}

/*button after click/focus*/
.btn-custom-grey-y:focus, .btn-custom-grey-y.focus {
  color: #f8f9fa!important;
  background-color: #aab1b4!important;
  border-color: #888b8b!important;
  box-shadow: 0 0 0 0.2rem #ccc9c8!important;
}

/*  button disable*/
  .btn-custom-grey-y.disabled, .btn-custom-grey-y:disabled {
  color: rgb(122, 124, 126)!important;
  background-color: #f0f7f7!important;
  border-color: #626666!important;
}

/*=========================== END CUSTOM BUTTON GREY YOUNG ===================================*/



/*=========================== CUSTOM BUTTON ORANGE YOUNG ===================================*/

.btn-custom-orange-y {
  color: #fff!important;
  background-color: #f86808!important;
  border-color:#e79005!important;
}

/*button hover (saat di sorot cursor)*/
.btn-custom-orange-y:hover {
  color: #fff!important;
  background-color: #c94a0f!important;
  border-color: #b84d1c!important;
}

/*button after click/focus*/
.btn-custom-orange-y:focus, .btn-custom-orange-y.focus {
  color: #fff!important;
  background-color: #c94a0f!important;
  border-color: #b84d1c!important;
  box-shadow: 0 0 0 0.2rem #f3d7cb!important;
}

/*  button disable*/
  .btn-custom-orange-y.disabled, .btn-custom-orange-y:disabled {
  color: rgb(122, 124, 126)!important;
  background-color: #f0f7f7!important;
  border-color: #626666!important;
}

/*=========================== END BUTTON ORANGE YOUNG ===================================*/

/*=========================== CUSTOM BUTTON RED YOUNG ===================================*/

.btn-custom-red-y {
  color: #fff!important;
  background-color: #ff7675!important;
  border-color:#e7abab!important;
}

/*button hover (saat di sorot cursor)*/
.btn-custom-red-y:hover {
  color: #fff!important;
  background-color: #f70a0a!important;
  border-color: #e7abab!important;
}

/*button after click/focus*/
.btn-custom-red-y:focus, .btn-custom-red-y.focus {
  color: #fff!important;
  background-color: #f70a0a!important;
  border-color: #f08383!important;
  box-shadow: 0 0 0 0.2rem #ecc4c4!important;
}

/*  button disable*/
  .btn-custom-red-y.disabled, .btn-custom-red-y:disabled {
  color: rgb(122, 124, 126)!important;
  background-color: #f0f7f7!important;
  border-color: #626666!important;
}

/*============================= END CUSTOM BUTTON RED ===================================*/



/*=========================== CUSTOM BUTTON GREEN  ===================================*/
.btn-custom-green {
  color: #fff!important;
  background-color: #119959!important;
  border-color:#138f55!important;
}


/*button hover (saat di sorot cursor)*/
.btn-custom-green:hover {

  color: #fff!important;
  background-color: #2e7941!important;
  border-color:#2a7e3f!important;
}

/*button after click/focus*/
.btn-custom-green:focus, .btn-custom-green.focus {
  color: #fff!important;
  background-color: #2e7941!important;
  border-color:#2a7e3f!important;
  box-shadow: 0 0 0 0.2rem #ade2ad!important;
}

/*  button disable*/
  .btn-custom-green.disabled, .btn-custom-green:disabled {
  color: rgb(122, 124, 126)!important;
  background-color: #f0f7f7!important;
  border-color: #626666!important;
}



/*===========================END CUSTOM BUTTON GREEN ===================================*/

/*=========================== CUSTOM BUTTON GREEN YOUNG ===================================*/
.btn-custom-green-y {
  color: #fff!important;
  background-color: hsl(138, 77%, 71%)!important;
  border-color:hsl(138, 77%, 71%)!important;
}

/*button hover (saat di sorot cursor)*/
.btn-custom-green-y:hover {
  color: #fff!important;
  background-color: #6cc46c!important;
  border-color: #6cc46c!important;
}

/*button after click/focus*/
.btn-custom-green-y:focus, .btn-custom-green-y.focus {
  color: #fff!important;
  background-color: #6cc46c!important;
  border-color: #6cc46c!important;
  box-shadow: 0 0 0 0.2rem #d8f1d8!important;
}

/*  button disable*/
  .btn-custom-green-y.disabled, .btn-custom-green-y:disabled {
  color: rgb(122, 124, 126)!important;
  background-color: #f0f7f7!important;
  border-color: #626666!important;
}




/*===========================END CUSTOM BUTTON GREEN ===================================*/


/*============================= CUSTOM BUTTON GREY ===================================*/

.btn-custom-grey {
  color: #fff!important;
  background-color: #a9b1ab!important;
  border-color:#a4a8a5!important;
}

/*button hover (saat di sorot cursor)*/
.btn-custom-grey:hover {
  color: #fff!important;
  background-color: #7e817f!important;
  border-color: #828583!important;
}

/*button after click/focus*/
.btn-custom-grey:focus, .btn-custom-grey.focus {
  color: #fff!important;
  background-color: #7e817f!important;
  border-color: #a9b1ab!important;
  box-shadow: 0 0 0 0.2rem #d3d4d4!important;
}

/*  button disabled*/
  .btn-custom-grey.disabled, .btn-custom-grey:disabled {
  color: rgb(122, 124, 126)!important;
  background-color: #f0f7f7!important;
  border-color: #626666!important;
}


/*===========================END CUSTOM BUTTON GREY ===================================*/


/*=========================== CUSTOM BUTTON BLUE  ===================================*/

/*button custom blue*/
.btn-custom-blue {
  color: #fff!important;
  background-color: #7660ee!important;
  border-color: #7660ee!important;
}

/*button hover (saat di sorot cursor)*/
.btn-custom-blue:hover {
  color: #fff!important;
  background-color: #432dbd!important;
  border-color: #312285!important;
}

/*button after click/focus*/
.btn-custom-blue:focus, .btn-custom-blue.focus {
  color: #fff!important;
  background-color: #432dbd!important;
  border-color: #312285!important;
  box-shadow: 0 0 0 0.2rem #b3a9ec!important;
}

/*  button disable*/
  .btn-custom-blue.disabled, .btn-custom-blue:disabled {
  color: rgb(122, 124, 126)!important;
  background-color: #f0f7f7!important;
  border-color: #626666!important;
}




/*---------------------------------------------------- END BUTTON CUSTOM BLUE------------------------------------------------------------*/





/*=========================== CUSTOM BUTTON BLUE YOUNG  ===================================*/

/*button custom blue*/
.btn-custom-blue-y {
  color: #fff!important;
  background-color: #81ecec!important;
  border-color: #70d3d3!important;
}

/*button hover (saat di sorot cursor)*/
.btn-custom-blue-y:hover {
  color: #fff!important;
  background-color: #74c5c5!important;
  border-color: #6bb3b3!important;
}

/*button after click/focus*/
.btn-custom-blue-y:focus, .btn-custom-blue-y.focus {
   color: #fff!important;
  background-color: #74c5c5!important;
  border-color: #6bb3b3!important;
  box-shadow: 0 0 0 0.2rem #abe7e7!important;
}

/*  button disable*/
  .btn-custom-blue-y.disabled, .btn-custom-blue-y:disabled {
  color: rgb(122, 124, 126)!important;
  background-color: #f0f7f7!important;
  border-color: #626666!important;
}

/*btn active (warna lebih tebal)*/
.btn-custom-blue-y:not(:disabled):not(.disabled):active,.btn-custom-blue-y:not(:disabled):not(.disabled).active,
.show > .btn-custom-blue-y.dropdown-toggle {
  color: #fff!important;
  background-color: #72bbbb!important;
  border-color: #72bbbb!important;
}




/*---------------------------------------------------- END BUTTON CUSTOM BLUE YOUNG------------------------------------------------------------*/
/* z-index navbar */
  /* z-index: 1029; */
/* z-index navbar */


/*---------------------------------------------------- FOOTER CUSTOM ----------------------------------------------------------------*/

.footer-custom{
    /*background-color: rgb(144, 150, 146);*/
    position: fixed;
    bottom: 0;
}

/* CSS TESTING */

#sidecart{
    float: right;
    background: #ffffff;
    height: 100%;
    position: fixed;
    z-index: 1028;
    top: 0;
    right: 0;
    overflow:auto;
    padding-top: 80px;
   box-shadow: 0px 5px 15px #9a9c9b;
}

 /*custom title sidecart*/
  #tittlesidecart{
    /*background-color:#f3f3f3;*/
    background-color: #fff;
    z-index: 1028;
    height: 35px;
  }
  #tittlesidecart button{
    background-color: #212529; float: right;border-radius: 5px;
    right: 2;
    width: 35px;
    height: 32px;
    color: #fff;
    border: none;
    background: #ff7675;
    margin:6px;
    margin-right: 20px;
  }

   #showallcart{
    background-color:#f0f3f1;
     z-index: 1028;
     height: 50px;
     bottom: 0;
     /* margin-bottom: 5px; */
     position: fixed;
  }
  


@media (min-width: 0px) {
  #sidecart, #tittlesidecart,#showallcart {
    width: 210px;
    }
  }
    @media (min-width: 150px) {
  #sidecart,#tittlesidecart,#showallcart {
    width: 270px;
    }
  }
    @media (min-width: 360px) {
  #sidecart,#tittlesidecart,#showallcart {
    width: 280px;
    }
  }

  @media (min-width: 375px) {
  #sidecart,#tittlesidecart,#showallcart {
    width: 280px;
    }
  }
   @media (min-width: 414px) {
  #sidecart,#tittlesidecart,#showallcart {
    width: 290px;
    }
  }
@media (min-width: 576px) {
   #sidecart,#tittlesidecart,#showallcart {
    width: 300px;
    }
}

@media (min-width: 768px) {
  #sidecart,#tittlesidecart,#showallcart {
    width: 400px; 
   }
}

 
  

  /*end custom title sidecart*/


/* END CSS TESTIING */
